* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  /* Direction of the items, can be row or column */
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
  font-size: 1.2rem;
}

.header {
  /* overflow: hidden; */
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.nav-menu {
  float: right;
}

.main-container {
  flex: 1;
}


.blog-content {
  color: black;
}

.footer {
  height: 30px;
  color: black;
  background-color: grey;
}

.blog-item-container {
  margin: 3rem 0;
}

.blogItemLink {
  text-decoration: none;
}

.blogItemInfoContainer {
  display: flex;
  border: 2px solid transparent;
  border-bottom-color: azure;
  padding: 1rem 2rem;
  margin: 0 -2rem;
  background-color: black;
}

.blogItemTxtContainer {
  color: #ccc;
  font-size: 1.3rem;
  line-height: 1.3;
  margin: 0 0 .25rem;
  border-color: #303030;
}

.blogItemTxt {
  line-height: 1.3;
  margin: 0 0 .25rem;
  border-color: #303030;
}

.blogItemDateContainer {
  color: #777c85;
  font-size: 1rem;
  font-weight: 500;
}

.blogThumbnail {
  top: 0px;
  left: 0px;
  width: 75;
  height: 75;
  opacity: 1;
}

.blog-tag-list {
  display: flex;
  font-size: 1rem;
  color: darkorchid;
}

.blog-tag {
  margin: 0 1rem 0 0;
}

.blog-content {
  color: black;
  text-align: center;
}

.blog-markup {
  display: inline-block;
  text-align: left;
} 

@media screen and (max-width: 500px) {
  .header a {
    float: none;
  }
  .header .nav-menu {
    float: none;
  }
}